/* Variables */
:root {
    --cus-purple: #77528E;
    --solid-primary-font: "Londrina Solid", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
}

/* Globals */
h1 {
    font-family: var(--solid-primary-font);
    font-size: 4rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100vh;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    background-color: var(--cus-purple);
    color: white;
    font-size: 2rem;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
}

/* Error */
#error-message {
    display: flex;
    align-items: center;
    height: 100vh;
}
#error-details {
    margin: 0 auto;
    text-align: center;
}
#oops {
    font-size: 6rem;
}
#error-details p {
    margin-top: 2rem;
    padding: 0 4rem;
}
#call-to-action {
    margin-top: 2rem;
}
#home-button {
    color: white;
    background-color: transparent;
    padding: 1rem 1.25rem;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white;
    font-size: 2.25rem;
}
#home-button:hover {
    color: var(--cus-purple);
    background-color: white;
    transform: rotate(10deg);
}
#home-button:active {
    border: 1px solid white;
    color: white;
    background-color: var(--cus-purple);
}


/* Media Queries */
@media screen and (min-width: 768px) {
    #home-button {
        font-size: 1rem;
    }
}
