/* Variables */
:root {
    --cus-orange: #F29222;
    --cus-purple: #77528E;
    --cus-purple-rgb: 119, 82, 142;
    --cus-orange-rgb: 242, 146, 34;
    --solid-primary-font: "Londrina Solid", sans-serif;
    --primary-font: "Londrina Shadow", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
    --text-dark-purple: #250147;
}
/* Globals */
.active {
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
h1,
h2,
h3,
h4 {
    font-family: var(--solid-primary-font);
}
h2 {
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2.75rem;
}
h3, h4 {
    font-family: var(--secondary-font);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    background-color: var(--cus-purple);
}
a, a:visited, a:active {
    color: var(--cus-purple);
}
a:hover {
    text-decoration: underline;
}

/* Flex Container */
#container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}



/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 4.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}
header i {
    color: var(--cus-purple);
}
#logo {
    font-family: var(--solid-primary-font);
    color: var(--cus-purple);
}
nav {
    position: absolute;
    color: var(--cus-purple);
    font-family: var(--secondary-font);
    display: none;
    left: 0;
    width: 100vw;
    background-color: white;
    top: 100%;
}
#menu {
    list-style-type: none;
    font-size: 1.5rem;
}
#menu > li {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    padding-right: 5px;
}
.icon {
    width: 1.5rem;
    cursor: pointer;
}
.icon path {
    fill: var(--cus-purple);
}

/* Hero */
.hero {
    width: 100%;
    height: 350px;
    background: url('../images/Sunset_over_Colwyn_Bay.webp') no-repeat center center / cover;
    position: relative;

}
#cover-text {
    background-color: rgba(var(--cus-purple-rgb),0.6);
    position: absolute;
    top: 6.25rem;
    width: 75%;
    min-height: 20vh;
    padding-left: 10px;
    padding-right: 1.5rem;
}
#cover-title {
    font-size: 2.75rem;
    color: white;
    line-height: 2.25rem;
    padding: 1.5rem 0;
    font-family: var(--solid-primary-font);
    font-weight: 400;
}