/* Variables */
:root {
    --cus-orange: #F29222;
    --cus-purple: #77528E;
    --cus-purple-rgb: 119, 82, 142;
    --cus-orange-rgb: 242, 146, 34;
    --solid-primary-font: "Londrina Solid", sans-serif;
    --primary-font: "Londrina Shadow", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
    --text-dark-purple: #250147;
}
/* Globals */
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
    font-family: var(--solid-primary-font);
}
h2 {
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2.75rem;
}
h3, h4 {
    font-family: var(--secondary-font);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    background-color: var(--cus-purple);
}


/* Flex Container */
#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 4.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}
header i {
    color: var(--cus-purple);
}
#logo {
    font-family: var(--solid-primary-font);
    color: var(--cus-purple);
}
nav {
    position: absolute;
    color: var(--cus-purple);
    font-family: var(--secondary-font);
    display: none;
    left: 0;
    width: 100vw;
    background-color: white;
    top: 100%;
}
#menu {
    list-style-type: none;
    font-size: 1.5rem;
}
#menu > li {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    padding-right: 5px;
}
.icon {
    width: 1.5rem;
}
.icon path {
    fill: var(--cus-purple);
}

/* Hero */
.hero {
    width: 100%;
    height: 600px;
    background: url('../images/Sunset_over_Colwyn_Bay.webp') no-repeat center center / cover;
    position: relative;
   
}
#cover-text {
    background-color: rgba(var(--cus-purple-rgb),0.6);
    position: absolute;
    top: 6.25rem;
    width: 75%;
    min-height: 20vh;
    padding-left: 10px;
    padding-right: 1.5rem;
}
#cover-title {
    font-size: 2.75rem;
    color: white;
    line-height: 2.25rem;
    padding: 1.5rem 0;
    font-family: var(--solid-primary-font);
    font-weight: 400;
}

/* Generic sections */
#regular-events, #regular-groups, #room-hire {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Events */
#regular-events {
    color: white;
}

/* Cards */
#regular-events img, #regular-groups img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}
#events-cards, #groups-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.75rem;
    width: 100%;
    margin: 0 auto;
}
.card {
    margin: 0 auto;
    margin-bottom: 3rem;
    border-bottom: 1px dashed white;
    padding-bottom: 2rem;
}
#groups-cards .card {
    border-color: black;
}
.card:last-of-type{
    border: none;
}
.event-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.event-date {
    padding-bottom: 1rem;
}
.event-snippet {
    padding-top: 0.5rem;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.event-cost {
    padding-top: 0.5rem;
    font-weight: bold;
    text-align: left;
}

/* Groups */
#regular-groups {
    background-color: var(--cus-orange);
    color: var(--text-dark-purple);
}

/* Room hire */
#room-hire {
    color: white;
}
#room-hire-details {
    padding: 0 2rem;
}
#room-hire p {
    margin-bottom: 1rem;
}
/* Footer */
footer {
    width: 100%;
    height: 5rem;
    background-color: var(--cus-purple);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    color: white;
}

#facebook-logo {
    width: 3rem;
    fill: white;
    margin: 0 3rem;
}
#imprint {
    font-size: 1rem;
    flex-grow: 1;
    text-align: right;
    padding-right: 3rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    #cover-title {
        font-size: 4rem;
        line-height: 3.25rem;
    }
    #events-cards, #groups-cards {
        width: 550px;
        
    }
    #events-cards img, #groups-cards img{
        height: 300px;    
        width: 500px;
    }
}

@media screen and (min-width: 768px) {
    section {
        padding-top: 0;
    }
    nav {
        display: flex;
        position: relative;
        padding-right: 1rem;
        justify-content: flex-end;
    }
    #menu {
        display: flex;
        font-size: 1rem;
    }
    #menu > li {
        margin: 0;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 4rem;
        margin: 0 0.5rem;
    }
    #cover-title {
        line-height: 4.37rem;
        padding-top: 1.5rem;
        font-size: 5rem;
    }

   
}

@media screen and (min-width: 922px) {
   #room-hire, #room-hire h2 {
    text-align: left;
   }
   #room-hire-details {
    margin: 0 auto;
    width: 50%;
   }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1rem;
    }
    h2 {
        font-size: 4rem;
        padding-bottom: 0;
    }
    h3 {
        font-size: 2.5rem;
    }
    section {
        padding-bottom: 2rem;
    }
    #logo {
        padding-left: 0.75rem;
    }
    #cover-text {
        width: 45%;
        padding-left: 2rem;
    }
    #events-cards, #groups-cards {
        flex-direction: row;
   }
   
    /* Regular Evemts */
    #events-cards, #groups-cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 1.5rem;
        margin: 0 auto;
    }
    #events-cards img, #groups-cards img {
        width: 100%;
    }
    .card {
        width: 33%;
        border: none;
    }
   
    @media screen and (min-width: 2000px) {
        .card {
            width: 15%;
            border: none;
        }
        #events-cards img, #groups-cards img {
            height: 200px;
        }
    }
}