/* Variables */
:root {
    --cus-orange: #F29222;
    --cus-purple: #77528E;
    --cus-purple-rgb: 119, 82, 142;
    --cus-orange-rgb: 242, 146, 34;
    --solid-primary-font: "Londrina Solid", sans-serif;
    --primary-font: "Londrina Shadow", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
}
/* Globals */
h1,
h2,
h3,
h4 {
    font-family: var(--solid-primary-font);
}
h2 {
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2.75rem;
}
h3, h4 {
    font-family: var(--secondary-font);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100vh;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    background-color: var(--cus-purple);
}


/* Flex Container */
#container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 4.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}
header i {
    color: var(--cus-purple);
}
#logo {
    font-family: var(--solid-primary-font);
    color: var(--cus-purple);
}
nav {
    position: absolute;
    color: var(--cus-purple);
    font-family: var(--secondary-font);
    display: none;
    left: 0;
    width: 100vw;
    background-color: white;
    top: 100%;
}
#menu {
    list-style-type: none;
    font-size: 1.5rem;
}
#menu > li {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    padding-right: 5px;
}
.icon {
    width: 1.5rem;
    cursor: pointer;
}
.icon path {
    fill: var(--cus-purple);
}

/* Hero */
.hero {
    width: 100%;
    height: 350px;
    background: url('../images/Sunset_over_Colwyn_Bay.webp') no-repeat center center / cover;
    position: relative;
   
}
#cover-text {
    background-color: rgba(var(--cus-purple-rgb),0.6);
    position: absolute;
    top: 6.25rem;
    width: 75%;
    min-height: 20vh;
    padding-left: 10px;
    padding-right: 1.5rem;
}
#cover-title {
    font-size: 2.75rem;
    color: white;
    line-height: 2.25rem;
    padding: 1.5rem 0;
    font-family: var(--solid-primary-font);
    font-weight: 400;
}

/* Welcome Message */
#welcome-message {
    width: 100%;
    background-color: var(--cus-purple);
    position: relative;
}
#welcome-message > *, #welcome-message-details > * {
    margin: 0 auto;
    padding: 1rem;
}
#welcome-message h2 {
    color: white;
}
#welcome-message p {
   color: white;
   text-align: center;
   font-size: 1rem;
}
#welcome-message p:first-child {
    padding-top: 1.25rem;
    font-weight: 600;
}

/* Opening Times */
#opening-times {
    background-color: var(--cus-purple);
    min-height: 10vh;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
    position: relative;
}
#opening-times > h2 {
    font-weight: bold;
}
#times {
    margin-top: 10px;
}
#visit-us {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
}

/* Carousel */
.carousel {
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(var(--cus-purple-rgb),1);
    align-items: center;
}
.slides {
    display: none;
    width: 100%;
    height: 200px;
}
#nextArrow, #previousArrow {
    position: absolute;
    height: auto;
    cursor: pointer;
    width: auto;
    padding: 1rem;
    color: white;
    font-weight: bold;
    box-shadow: black 0px 0px 1.5rem;
    background-color: rgba(201, 66, 178, 0.658);
}
#nextArrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#previousArrow {
    left: 0;
    border-radius: 0 3px 3px 0;
}
.fade {
    animation: fadeIn 0.8s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Carousel Image Slides */
#slide-1 {
    background: url('../images/468324613_122267218016002860_3882894567622170301_n.jpg') no-repeat center center / cover;   
}
#slide-2 {
    background: url('../images/454735621_122240727518002860_7492894630105984710_n.jpg') no-repeat center center / cover;    
}
#slide-3 {
    background: url('../images/469111474_122269146176002860_1941981137026856415_n.jpg') no-repeat center center / cover;    
}

/* Latest News */
.latest-news {
    width: 100%;
    background-color: var(--cus-orange);
    text-align: left;
    padding-top: 3rem;
}
#news-cards {
    padding: 0 1.75rem;
}
.card {
    text-align: center;
    border-bottom: 1px dashed black;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 1.75rem 0;
    padding-bottom: 3rem;
}
.card:last-of-type {
    border-bottom: 0;
}
.news-image {
    display: flex;
    justify-content: center;
}
.news-image img {
    width: 100%;
    padding-bottom: 1rem;
}
.news-title {
    margin-top: 1rem;
    font-weight: bold;
}
.latest-news h2 {
    color: black;
}
.news-date {
    font-weight: bold;
    padding-bottom: 1rem;
}
.news-snippet {
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

/* Foodbank and Donations */
#foodbank {
    background-color: var(--cus-purple-rgb);
    color: white;
}
#foodbank, #donations {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 3rem 3rem;
}
#foodbank, #donations h2 {
    margin-top: 1rem;
}
#foodbank h3, #donations h3 {
    padding-top: 1rem;
}
#donations {
    background-color: var(--cus-orange);
    color: black;
}
#foodbank > *, #donations > *{
    margin: 0 auto;
}

/* Contact Form */
#contact-form-section {
    padding-top: 3rem;
    background-color: var(--cus-purple);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
}
form {
    width: 90%;
    margin: 0 auto;
}
input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 3px black;
    outline-offset: 0px;
    outline: none;
}
#contact-form label {
    text-align: left;
}
#contact-form input{
    width: 100%;
    height: 3rem;
    text-align: center;
    border: 0;
}
#contact-form button {
    width: 9rem;
    height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    border: 0;
    background-color: white;
    color: var(--cus-purple);
}
#contact-form button:hover {
    outline: none;
    cursor: pointer;
    background-color: var(--cus-purple);
    border: 1px solid white;
    color: white;
}
#contact-form button:active {
    border: 0;
    transform: translate(4px, 5px);
}
#contact-form select {
    width: 100%;
    height: 4.75rem;
    text-align: center;
    font-size: 2rem;
    border: 0;
}
#contact-form textarea {
    width: 100%;
    border: 0;
}

/* Footer */
footer {
    width: 100%;
    height: 5rem;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#facebook-logo {
    width: 2rem;
    fill: var(--cus-purple);
    margin: 0 1rem;
}
#imprint {
    font-size: 0.5rem;
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    .hero {
        height: 450px;
    }
    #cover-title {
        font-size: 4rem;
        line-height: 3.25rem;
    }
    #welcome-message {
        width: 90%;
        border-bottom: 1px dashed white;
    }
    #welcome-message,
    #details {
        font-size: 1.2rem;
    }
    #welcome-message p:first-child {
        font-size: 1.5rem;
    }
    .slides {
        height: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 550px;
    }
    section {
        padding-top: 0;
    }
    nav {
        display: flex;
        position: relative;
        padding-right: 1rem;
        justify-content: flex-end;
    }
    #menu {
        display: flex;
        font-size: 1rem;
    }
    #menu > li {
        margin: 0;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 4rem;
        margin: 0 0.5rem;
    }
    #cover-title {
        line-height: 4.37rem;
        padding-top: 1.5rem;
        font-size: 5rem;
    }

    /* Welcome Message */
    #welcome-message p {
        font-size: 1.75rem;
    }
    #welcome-message p:first-child {
        font-weight: 600;
        font-size: 2.5rem;
    }

    /* Details */
    #details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6.25rem;
        padding-top: 2.25rem;
    }

    /* Opening Times */
    #opening-times {
        margin-top: 0;
        padding-top: 0;
    }
    #opening-times > h2, #visit-us > h2 {
        font-size: 3.5rem;
    }
    #visit-us {
        margin-top: 0;
    }
   
    /* Carousel */
    .slides {
        height: 450px;
    }

    /* Latest News */
    #news-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 1.5rem;
    }
    .card {
        width: 50%;
        border: none;
    }
    .card img {
        width: 100%;
    }

    /* Foodbank & Donations*/
    #foodbank, #donations {
        padding-top: 1.5rem;
    }
    
    /* Contact Form */
    #contact-form-section {
        padding-top: 1.5rem;
    }
    #contact-form {
        margin-top: 3.5rem;
    }
    #contact-form form {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
    }
}

@media screen and (min-width: 922px) {
   
    #welcome-message {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1rem;
    }
    h2 {
        font-size: 4rem;
        padding-bottom: 0;
    }
    h3 {
        font-size: 2.5rem;
    }
    section {
        padding-bottom: 2rem;
    }
    #logo {
        padding-left: 0.75rem;
    }
    #cover-text {
        width: 30%;
        padding-left: 2rem;
    }
    #welcome-message-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    #welcome-message h2 {
        text-align: left;
        width: 60%;
        padding-bottom: 0;
    }    
    #welcome-message p{
        width: 60%;
        text-align: left;
    }
    #details {
        flex-direction: column;
        width: 46%;
        gap: 2rem;
    }
    #opening-times > *, #visit-us > * {
        text-align: left;
    }

    /* Carousel */
    .carousel {
        justify-content: center;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8rem;
        width: 54%;
        height: 30vw;
        box-shadow: 0px 4px 40px 0 black;
    }
    .slides {
        margin: 0 auto;
        height: 30vw;
    }
    #previousArrow, #nextArrow {
        font-size: 3rem;
        box-shadow: none;
    }
    #previousArrow {
        left: 23%;
        height: 30vw;
        align-content: center;
    }
    #nextArrow {
        right: 23%;
        height: 30vw;
        align-content: center;
    }
    
    /* Latest News */
    .card {
        width: 33%;
        font-size: 1rem;
    }
    .card .news-snippet {
        text-align: left;
        width: 100%;
    }
    /* Foodbank and Donations*/
    #foodbank, #donations {
        justify-content: center;
        width: 100%;
        padding-bottom: 6rem;
        padding-top: 5rem;
    }
    #foodbank h2, #donations h2 {
        margin: 0 auto;
        text-align: left;
    }
    #foodbank-details, #foodbank-details > *, #donations-details, #donations-details > *{
        margin: 0 auto;
        text-align: left;
    }
    #foodbank-details, #donations-details {
        width: 50%;
    }
    
    /* Contact Form */
    #contact-form-section {
        padding: 3rem 4rem;
        text-align: left;
    }
    
    #contact-form {
        padding-top: 1rem;
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }
    #contact-form h2 {
        text-align: left;
    }
    #contact-form form {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0;
        width: 100%;
    }
    #form-column {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin: 0 0;
        width: 100%;
        gap: 10px;
   }
    #contact-form input {
        width: 100%;
    }
    #contact-form select {
        height: 3rem;
    }
    #message-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    #message-div textarea {
        margin: 0 auto;
    }
    #submit-form-button {
        width: 10%;
        justify-content: center;
        text-align: center;
        flex-grow: 0;
    }
   
}