/* Variables */
:root {
    --cus-blue:     #0CB2AF /*Blue*/;
    --cus-green: #A1C65D /*Green*/;
    --cus-yellow: #FAC723 /*Yellow*/;
    --cus-orange: #F29222 /*Orange*/;
    --cus-red: #E95E50 /*Red*/;
    --cus-purple: #77528E;
    --solid-primary-font: "Londrina Solid", sans-serif;
    --primary-font: "Londrina Shadow", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
    --cus-purple-rgb: 119, 82, 142;
    --cus-orange-rgb: 242, 146, 34;
    
}
/* Globals */
h1,
h2,
h3,
h4 {
    font-family: var(--solid-primary-font);
}
h2 {
    font-size: 2.75rem;
}
.mainheading {
    font-family: var(--primary-font);
}
.subheading {
    font-family: var(--secondary-font);
    font-size: 2rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100vh;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    background-color: var(--cus-purple);
}

/* Flex Container */
.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
}
header i {
    color: var(--cus-purple);
}
#logo {
    font-family: var(--solid-primary-font);
    color: var(--cus-purple);
}
nav {
    position: absolute;
    color: var(--cus-purple);
    font-family: var(--secondary-font);
    display: none;
    left: 0;
    width: 100vw;
    background-color: white;
    top: 100%;
}
#menu {
    list-style-type: none;
    font-size: 1.5em;
}
#menu > li {
    padding-left: 1rem;
    margin-bottom: 1em;
}


/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    padding-right: 5px;
}
.icon {
    width: 1.5rem;
}
.icon path {
    fill: var(--cus-purple);
}


/* Hero */
.hero {
    width: 100vw;
    height: 40vh;
    background: url('../images/Sunset_over_Colwyn_Bay.webp') no-repeat center center / cover;
    position: relative;
   
}

#cover-text {
    background-color: rgba(var(--cus-purple-rgb),0.6);
    position: absolute;
    top: 100px;
    width: 75%;
    min-height: 20vh;
    padding-left: 10px;
    padding-right: 25px;
    
}

#cover-title {
    font-size: 2.75rem;
    color: white;
    line-height: 38px;
    padding-top: 5px;
    font-family: var(--solid-primary-font);
    font-weight: 400;
}


/* Welcome Message */
.welcome-message {
    /*height: 40vh;*/
    width: 100vw;
    background-color: var(--cus-purple);
    margin-top: 10px;
    /*padding-bottom: 50px;*/
    position: relative;
    /*top: 50vh;*/
}

.welcome-message p {
   color: white;
   text-align: center;
   font-size: 1rem;
   padding: 10px;
}

.welcome-message p:first-child {
    padding-top: 20px;
    font-weight: 600;
}


/* Carousel */
.carousel {
    z-index:97;
    position: absolute;
    top: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--cus-purple-rgb),1);
}

.slides {
    display: none;
    justify-content: center;
    width: 100vw;
    height: 200px;
   
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(201, 66, 178, 0.658);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Carousel Image Slides */
#slide-1 {
    background: url('../images/468324613_122267218016002860_3882894567622170301_n.jpg') no-repeat center center / cover;   
}
#slide-2 {
    background: url('../images/454735621_122240727518002860_7492894630105984710_n.jpg') no-repeat center center / cover;    
}
#slide-3 {
    background: url('../images/469111474_122269146176002860_1941981137026856415_n.jpg') no-repeat center center / cover;    
}

/* Latest News */
.latest-news {
    min-height: 100vh;
    width: 100%;
    background-color: var(--cus-orange);
    text-align: left;
    position: relative;
}

.latest-news h2 {
    color: black;
    font-size: 2.75rem;
    margin-top: 150px;
    text-align: center;
}

.card {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 0 20px;
}
.news-date {
    font-weight: bold;
}
.news-title {
    font-weight: bold;
}
.news-snippet {
    
    margin-top: 15px;
}


/* Opening Times */
#opening-times {
    background-color: var(--cus-purple);
    min-height: 10vh;
    color: white;
    text-align: center;
    padding-top: 25px;
    position: relative;
}
#opening-times > h2 {
    font-weight: bold;
}
#times {
    margin-top: 10px;
}

#visit-us {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 25vh;
}


/* Footer */
footer {
    width: 100%;
    height: 75px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#facebook-logo {
    width: 2rem;
    fill: var(--cus-purple);
    margin: 0 15px;
}
#imprint {
    font-size: 0.5rem;
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
        position: relative;
        padding-right: 1rem;
        justify-content: flex-end;

    }
    #menu {
        display: flex;
        font-size: 1rem;

    }
    #menu > li {
        margin: 0;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 4rem;
        margin: 0 0.5rem;
    }

    #cover-text {
        bottom: 40%;
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 922px) {
    #cover-text {
        bottom: 30%;
        font-size: 5rem;
        width: 45%;
        padding-left: 50px;
    }
}

@media screen and (min-width: 1200px) {
    
}