/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Londrina+Shadow&display=swap');

/* Variables */
:root {
    --cus-blue:     #0CB2AF /*Blue*/;
    --cus-green: #A1C65D /*Green*/;
    --cus-yellow: #FAC723 /*Yellow*/;
    --cus-orange: #F29222 /*Orange*/;
    --cus-red: #E95E50 /*Red*/;
    --cus-purple: #936FAC /*Purple*/;
    --primary-font: "Londrina", sans-serif;
    --secondary-font: "Ferdoka", sans-serif;
    
}

/* Globals */
h1,
h2,
h3,
h4 {
    font-family: var(--primary-font);
    color: var(--cus-purple);
}

.mainheading {
    font-family: var(--primary-font);
}

.subheading {
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.hidden {
    display: none;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cus-purple); 
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
}

/* Flex Container */
.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}




/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header i {
    color: var(--cus-purple);
}

nav {
    position: absolute;
    color: var(--cus-purple);
    
    display: none;
    left: 0;
    width: 100%;
    background-color: white;
    top: 100%;
}

#menu {
    list-style-type: none;
    font-size: 1.5em;
}

#menu > li {
    padding-left: 1rem;
    margin-bottom: 1em;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    
}


/* Hero */





/* Welcome Message */





/* Carousel */





/* Footer */


/* MEDIA QUERIES */

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
        position: relative;
        padding-right: 1rem;
        justify-content: flex-end;

    }
    #menu {
        display: flex;
        font-size: 1rem;

    }
    #menu > li {
        margin: 0;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 4rem;
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 922px) {
    
}

@media screen and (min-width: 1200px) {
    
}