:root {
    --cus-purple: #77528E;
    --solid-primary-font: "Londrina Solid", sans-serif;
}
/* Modal Styling */
#modal {
    position: fixed;
    bottom: 30%;
    left: 0;
    width: auto;
    background-color: var(--cus-purple);
    box-shadow: 1px 1rem 1rem rgba(0, 0, 0, 0.5);
    flex-direction: column;
}
#modal-header {
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--solid-primary-font);
    color: var(--cus-purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#close-modal {
    cursor: pointer;
}
#close-modal-button {
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--cus-purple);
    padding: 0.5rem 0.75rem;
    background: transparent;
    border-bottom: 0;
}
#close-modal-text:hover {
    border-bottom: 2px solid var(--cus-purple);
    cursor: pointer;
}

#modal-body {
    width: 100%;
    padding: 3rem;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}
#modal-submitted-details {
    margin-top: 1.25rem;
}
.container-noblur {
    filter: none;
    transition: 0.1s ease-in-out;
}
.container-blur {
    transition: 0.1s ease-in-out;
    filter: blur(20px) grayscale(100%);
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* Modal Controls */
.modal-hide {
    display: none;
}
.modal-show {
    display: flex;
}

@media screen and (min-width: 576px) {
    #modal {
        left: 1%;
        width: 98%;
    }
}

@media screen and (min-width: 1200px) {
    #modal {
        left: 33%;
        width: auto;
    }
}